.comment {
  display: flex;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid grey;
  }
  &:hover .basket {
    display: block;
  }
}

.photo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.content {
  width: 80%;
  padding-left: 10px;
}

.handle {
  font-size: 15px;
  color: rgb(0,110,225);
}

.handle a {
  text-decoration: none;
}

.createdAt {
  display: block;
  padding: 3px 0;
  color: #777777;
}

.body {
  padding: 5px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.basket {
  display: none;
  position: absolute;
  top: -2px;
  right: 0;
  padding: 5px;
  cursor: pointer;
  color: rgba(255,0,0,.6);
  transition: all .2s;
  &:hover {
    color: rgba(255,0,0,.9);
  }
}

@media (max-width: 320px) {
  .photo {
    height: 70px;
  }
  .createdAt {
    font-size: 12px;
  }
  .body {
    font-size: 15px;
  }
}