.credErrorBlock {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: red;
    padding: 10px 0;
    border-radius: 5px;
    background: rgba(255,0,0, .2);
}