@import "src/cssCommonModules/vars.module";

.inputBox {
    position: relative;
}

.input, .errorInput {
    width: 100%;
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    background: transparent;
}

.input {
    border-bottom: 2px solid $grey;
}

.errorInput {
    border-bottom: 2px solid $red;
}

.label, .errorLabel {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: all .3s, font-weight .01s;
}

.label {
    color: $grey;
}

.errorLabel {
    color: $red;
}

.errorInput:focus ~ label,
.errorInput:valid ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: $red;
}

.errorInput:focus,
.errorInput:valid {
    border-bottom: 2px solid $red;
}

.input:focus ~ label,
.input:valid ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: rgba($background-blue, .9);
}

.input:focus,
.input:valid {
    border-bottom: 2px solid rgba($background-blue, .9);
}