@import "src/cssCommonModules/vars.module";

.authPage {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: $background-white;
}

.authContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 70px 20px 0 20px;
    background: $white;
    box-shadow: 0 0 10px rgba($black, .5);
}

.title {
    font-size: 33px;
}

.form {
    width: 90%;
    margin-top: 10px;
}

.lockIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    border-radius: 50%;
    background: $background-blue;
}

.button {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgba($grey, .3);
    font-size: 16px;
    font-weight: 600;
    color: rgba($background-blue, .9);
    cursor: pointer;
}
.button:active, .button:disabled, .button.focus {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba($grey, .5);
    color: $grey;
}

.link {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width:380px) {
    .title {
        font-size: 25px;
    }
}

@media (max-width:300px) {
    .title {
        font-size: 20px;
    }
}
