.post {
  margin-top: -15px;
  display: flex;
  position: relative;
}

.postContent {
  width: calc(100% - 130px);
  padding-left: 15px;
}

.handle {
  font-size: 25px;
  color: rgb(0,110,225);
}

.createdAt {
  display: block;
  color: #777777;
  padding: 3px 0;
}

.body {
  padding: 5px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.closeIcon {
  width: 30px !important;
  height: 30px;
  &:hover {
    color: rgba(0,160,202, 1);
  }
}

.photo {
  width: 130px;
  height: 130px;
  margin: 10px auto 0;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
}

.comments {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media (max-width: 480px) {
  .post {
    display: block;
  }
}