.post {
  margin-top: -15px;
  display: flex;
  position: relative;
}

.postContent {
  width: calc(100% - 130px);
  padding-left: 15px;
}

.handle {
  font-size: 25px;
  color: rgb(0,110,225);
}

.createdAt {
  display: block;
  color: #777777;
  padding: 3px 0;
}

.body {
  padding: 5px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.closeIcon {
  width: 30px !important;
  height: 30px;
  &:hover {
    color: rgba(0,160,202, 1);
  }
}

.photo {
  width: 130px;
  height: 130px;
  margin: 10px auto 0;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
}

.comments {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media (max-width: 480px) {
  .photo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
  .handle {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  .createdAt {
    margin-left: 20px;
  }
  .body {
    margin-left: -140px;
    width: 400px;
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .handle {
    font-size: 17px;
    margin-left: 10px;
  }
  .createdAt {
    margin-left: 10px;
  }
  .photo {
    margin-left: 0;
  }
  .body {
    margin-left: -120px;
  }
}

@media (max-width: 320px) {
  .photo {
    width: 90px;
    height: 90px;
    margin-left: 0;
  }
  .body {
    margin-left: -100px;
    margin-top: 30px;
  }
}