.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgb(0,160,202);
    box-shadow: 0 0 5px black;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 150px;
    margin-left: -25px;
}

.navIcon {
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: .1s;
}

.navIcon:hover {
    transform: scale(1.1);
}

.navItem a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: rgba(255,255,255, .9);
    cursor: pointer;
    transition: .1s;
}

.navItem a:hover {
    color: rgba(255,255,255, 1);
}

.notCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    background: rgb(255,75,0);
}

@media (max-width: 780px) {
    .nav {
        margin-left: 0;
        max-width: 200px;
    }
}

@media (max-width: 700px) {
    .nav {
        margin-left: 25px;
        max-width: 200px;
    }
}