.post {
  margin-top: -15px;
  display: flex;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.closeIcon {
  width: 30px !important;
  height: 30px;
  &:hover {
    color: rgba(0,160,202, 1);
  }
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto 0;
  overflow: hidden;
}

.comments {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media (max-width: 480px) {
  .post {
    display: block;
  }
}