.post {
  display: flex;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.closeIcon {
  width: 30px !important;
  height: 30px;
  :hover {
    fill: rgba(0,160,202, 1);
  }
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}



.comments {
  margin-top: 30px;
  margin-bottom: -30px;
}