.btnSubmit {
  border: none;
  padding: 8px 20px;
  outline: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  background: rgb(0,160,202);
  color: #fff;
  box-shadow: 0 0 3px rgb(0,160,202);
  transition: .1s;
  &:hover {
    background: rgba(0,160,202, .9);
  }
  &:focus {
    outline: none;
    background: rgba(0,160,202, .7);
  }
  &:disabled {
    outline: none;
    background: rgba(0,160,202, .7);
  }
}

.btnRed {
  padding: 8px 20px;
  margin-left: 120px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 3px rgba(255,0,0,.8);
  color: #fff;
  background: rgba(255,0,0,.8);
  transition: .1s;
  &:hover {
    background: rgba(255,0,0,.7);
  }
  &:focus {
    outline: none;
    background: rgba(255,0,0,.6);
  }
  &:disabled {
    outline: none;
    background: rgba(255,0,0,.6);
  }
}

@media (max-width: 430px) {
  .btnRed {
    margin-left: 0;
  }
}