$background-blue: rgb(0,160,202);
$background-white: rgb(245,244,246);
$white: #fff;
$black: #000;
$light-black: #222;
$notification-background: rgb(255,75,0);
$grey: rgb(169,169,169);
$font-blue: rgb(0,110,225);
$red: rgb(255,0,0);