.post {
  position: relative;
  width: 98%;
  margin-bottom: 60px;
  border-bottom: 10px solid rgba(0,0,0,.2);
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0, .4);
}

.userPhoto {
  position: absolute;
  top: -40px;
  left: 50px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0, .4);
}

.basket {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  color: rgba(255,0,0,.6);
  cursor: pointer;
  &:hover {
    color: rgba(255,0,0,.9);
  }
}

@media (max-width: 550px) {
 .userPhoto {
   left: 20px;
 }
}

@media (max-width: 450px) {
  .userPhoto {
    height: 100px;
    width: 100px;
    left: 10px;
    top: -20px;
  }
}